<div class="container mt-4">
    <h1>User Profile</h1>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Questions Posted: {{questionsCount}}</p>
    <p>Answers Provided: {{answersCount}}</p>
    <p>Member Since: {{profileAge}} days</p>
    <a href="/questions/manage" class="btn btn-primary">Manage Your Questions</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>
